<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Chat Demo</title>
    <script type="text/javascript" th:src="@{/js/egovframework/jquery-3.6.1.min.js}"></script>
    <script type="text/javascript">
        var wsocket;
        
        function connect() {
            // IP 로 등록 (localhost 지정 불가)
            var ipAddr = $("#serverUrl").val();
            wsocket = new WebSocket(ipAddr+"/websocket/chat.ws");
            
            wsocket.onopen = onOpen;
            wsocket.onmessage = onMessage;
            wsocket.onclose = onClose;
        }
        
        function disconnect() {
            wsocket.close();
        }
        
        function onOpen(evt) {
            appendMessage("Connect OK!");
        }
        
        function onMessage(evt) {
            var data = evt.data;
            if (data.substring(0, 4) == "msg:") {
                appendMessage(data.substring(4));
            }
        }
        
        function onClose(evt) {
            appendMessage("Disconnect OK!");
        }
        
        function send() {
            var nickname = $("#nickname").val();
            var msg = $("#message").val();
            wsocket.send("msg:"+nickname+":" + msg);
            $("#message").val("");
        }

        function appendMessage(msg) {
            $("#chatMessageArea").append(msg+"<br>");
            var chatAreaHeight = $("#chatArea").height();
            var maxScroll = $("#chatMessageArea").height() - chatAreaHeight;
            $("#chatArea").scrollTop(maxScroll);
        }

        $(document).ready(function() {
            $('#message').keypress(function(event){
                var keycode = (event.keyCode ? event.keyCode : event.which);
                if(keycode == '13'){
                    send();	
                }
                event.stopPropagation();
            });
            $('#sendBtn').click(function() { send(); });
            $('#enterBtn').click(function() { connect(); });
            $('#exitBtn').click(function() { disconnect(); });
        });
    </script>
    <style>
        #chatArea {
            width: 200px; height: 100px; overflow-y: auto; border: 1px solid black;
        }
    </style>
</head>
<body>

    <h1>Chat Area</h1>

    Server URL : <input type="text" id="serverUrl" th:value="${serverUrl}" style="width:400px;">* localhost not specified(Must be IP)

    <br/>
    <br/>

    Nick Name : <input type="text" id="nickname">

    <input type="button" id="enterBtn" value="Enter">
    <input type="button" id="exitBtn" value="Exit">

	<br/>
	<br/>

    <div id="chatArea"><div id="chatMessageArea"></div></div>

    <br/>
    <br/>

    <input type="text" id="message">
    <input type="button" id="sendBtn" value="Send Message">

	<br/>
	<br/>

</body>
</html>
